@import "tailwindcss";

html {
  scroll-behavior: smooth;
  user-select: none;
}

/* Custom animations */
@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: rgb(11, 86, 199);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 64, 158);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(to right, rgb(23, 23, 146),rgb(16, 16, 114),gray);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px; /* change to 1px for ultra-thin */
  transition: 0.2s ease-out; /* smooth fade */
}

